/*
	Coleman Alexander
	Date 11/30/2022
*/
/*GENERAL*/
.hidden {
	visibility: hidden;
}
.displayNone {
	display: none;
	visibility: hidden;
}

/*CONTAINER*/
html {
	/* background: rgb(2,0,36); */
	/* background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(38,157,37,0.7682423311121324) 45%, rgba(0,212,255,1) 100%); */
	height: 100vh;
}
body {
	display: flex;
	justify-content: center;
	height: 100vh;
}
.appContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 33% 33% 33%;
	justify-items: center;
	text-align: center;
	height: 100%;
	width: 100vw;
}
/*The LOGGIN PAGE*/
form {
	text-align: center;
}
form > input[type=radio] {
	margin-top: 11px;
	margin-bottom: 10px;
}

/*The table*/
table.tg {
	grid-column-start: 2;
	grid-row-end: -1;
	grid-row-start: 1;
	height: 84%;
}
table > * {
	text-align: center;
}
tr#headRow > th {
	height: 1em;
	width:3em;
	text-align: center;
}
tr > .tg.tg-0lax{
	text-align: center;
	vertical-align: middle;
	margin: auto;
	padding: auto;
}